@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  height: 100%;
}

 body {
  min-height: 100%;
  background-color: #0d001a; 
  background-image: linear-gradient(
    180deg,
    #1a0033 0%, 
    #050505 75%, 
    #000000 100% 
  );
  
  background-attachment: fixed;
  color: var(--foreground);
} 

#__next {
  min-height: 100%;
}


@layer components {
  .btn-primary-lg {
   
    @apply inline-flex items-center justify-center px-8 py-3 text-lg font-medium text-white bg-gradient-to-r from-blue-600 to-purple-600 rounded-lg shadow-lg transition-all duration-300 ease-in-out hover:shadow-xl hover:from-blue-700 hover:to-purple-700 hover:-translate-y-px;
  }

  .btn-primary-sm {
    
    @apply inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-blue-600 to-purple-600 rounded-lg shadow-md transition-all duration-300 ease-in-out hover:shadow-lg hover:from-blue-700 hover:to-purple-700;
  }
}